:root{
    --main: #93C6D6;
    --sec: #8aa29e;
    --ter: #668586;
    background-color: #1A1A1B;
    color:white;
}
body{
    font-size: 100%;
}

*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}
img.portrait{
    max-width: 10%;
    max-height: 10%;
}
h2{
    font-size:  2em;
    text-transform: uppercase;
    text-align: center;
}

a{
    color: var(--ter);
}
.bodyp{
    margin: auto;
    width: 75%;
    background-color: black;
    display: inline-block;
    align-content: center;
    text-align: center;
}

footer{
    text-align: center;
}
.icon{
    display: inline-block;
    width: 2%;
    height: 2%;
    overflow: hidden;
    /* fill: #212121; */
    fill: white;
}

/* Navigation */

nav ul{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
nav ul li{
    display: inline-block;
    text-align: center;
    padding: 14px, 16px;
    text-decoration: none;
    /* transition: 0.7s all; */
}
nav ul li:hover{
    background-color:white;
}
