:root{
    --main: #93C6D6;
    --sec: #8aa29e;
    --ter: #668586;
    background-color: #1A1A1B;
    color:white;
}
body{
    font-size: 110%;
}
*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

body a{
    color: var(--ter);
}
body h1{
    text-align: center;
}
body ul{
    list-style-type: none;
}